.colorChange{
    animation: toRed 3s 1;
    font-weight: bold;
    color:red;
}

.animate_webgl_preload {
    animation: canvasLoading 1s ease-in-out;
}

.renderingContainer {
    div {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    canvas {
        width: 100% !important;
        max-width: 600px;
        aspect-ratio: 1 !important;
        max-height: 600px;
    }
}

@keyframes toRed {
    from {
        color: inherit;
    }
    to {
        color: red;
    }
}

@keyframes canvasLoading {
    0% {
        opacity: 0;
        transform: scale(.7);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}